### ADR-{{NUMBER}}: {{TITLE}}

STATUS: proposed
DATE: {{DATE}}

CONTEXT:
{{CONTEXT}}

DECISION:
{{DECISION}}

ALTERNATIVES:
{{ALTERNATIVES}}

CONSTRAINTS:
{{CONSTRAINTS}}

REVISIT_IF:
{{REVISIT_CONDITIONS}}

---
